@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(94.007% 0.00011 271.152);
    --foreground: oklch(36.649% 0.00445 39.015);
    --card: oklch(94.007% 0.00011 271.152);
    --card-foreground: oklch(36.649% 0.00445 39.015);
    --popover: oklch(94.007% 0.00011 271.152);
    --popover-foreground: oklch(36.649% 0.00445 39.015);
    --primary: oklch(41.505% 0.03608 18.648);
    --primary-foreground: oklch(94.007% 0.00011 271.152);
    --secondary: oklch(26.773% 0.00447 17.063);
    --secondary-foreground: oklch(94.007% 0.00011 271.152);
    --muted: oklch(94.007% 0.00011 271.152);
    --muted-foreground: oklch(0.553 0.013 58.071);
    --accent: oklch(94.007% 0.00011 271.152);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(41.753% 0.16677 27.383);
    --border: oklch(89.193% 0.00166 66.416);
    --input: oklch(89.193% 0.00166 66.416);
    --ring: oklch(0.709 0.01 56.259);
    --chart-1: oklch(41.505% 0.03608 18.648);
    --chart-2: oklch(41.505% 0.03608 18.648);
    --chart-3: oklch(41.505% 0.03608 18.648);
    --chart-4: oklch(41.505% 0.03608 18.648);
    --chart-5: oklch(41.505% 0.03608 18.648);
    --radius: 0.45rem;
    --sidebar: oklch(94.007% 0.00011 271.152);
    --sidebar-foreground: oklch(36.649% 0.00445 39.015);
    --sidebar-primary: oklch(41.505% 0.03608 18.648);
    --sidebar-primary-foreground: oklch(94.007% 0.00011 271.152);
    --sidebar-accent: oklch(94.007% 0.00011 271.152);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(89.193% 0.00166 66.416);
    --sidebar-ring: oklch(89.193% 0.00166 66.416);
}

.dark {
    --background: oklch(36.649% 0.00445 39.015);
    --foreground: oklch(89.755% 0.0001 271.152);
    --card: oklch(36.649% 0.00445 39.015);
    --card-foreground: oklch(89.755% 0.0001 271.152);
    --popover: oklch(36.649% 0.00445 39.015);
    --popover-foreground: oklch(89.755% 0.0001 271.152);
    --primary: oklch(0.98 0.01 308);
    --primary-foreground: oklch(41.505% 0.03608 18.648);
    --secondary: oklch(0.21 0.006 285.885);
    --secondary-foreground: oklch(0.967 0.001 286.375);
    --muted: oklch(0.553 0.013 58.071);
    --muted-foreground: oklch(0.97 0.001 106.424);
    --accent: oklch(0.216 0.006 56.043);
    --accent-foreground: oklch(0.97 0.001 106.424);
    --destructive: oklch(41.753% 0.16677 27.383);
    --border: oklch(0 0 0 / 10%);
    --input: oklch(0 0 0 / 15%);
    --ring: oklch(0.709 0.01 56.259);
    --chart-1: oklch(41.505% 0.03608 18.648);
    --chart-2: oklch(41.505% 0.03608 18.648);
    --chart-3: oklch(41.505% 0.03608 18.648);
    --chart-4: oklch(41.505% 0.03608 18.648);
    --chart-5: oklch(41.505% 0.03608 18.648);
    --sidebar: oklch(36.649% 0.00445 39.015);
    --sidebar-foreground: oklch(89.755% 0.0001 271.152);
    --sidebar-primary: oklch(0.98 0.01 308);
    --sidebar-primary-foreground: oklch(41.505% 0.03608 18.648);
    --sidebar-accent: oklch(0.216 0.006 56.043);
    --sidebar-accent-foreground: oklch(0.97 0.001 106.424);
    --sidebar-border: oklch(0 0 0 / 10%);
    --sidebar-ring: oklch(0.709 0.01 56.259);
}

@theme inline {
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 4px;
  }
}